<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="./static/vue.min.js" charset="utf-8"></script>
    <title>express</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="wrapper" id='app'>
      <div class="contener">
        <div class="contener__list-block" @click='select' >
          <elem v-for='e in list' :name='e'></elem>
        </div>
        <div class="contener__redact">
          <input type="text" name="" v-model="text">
          <button type="button" v-if='current' @click='save'>Сохранить</button>
        </div>
      </div>
    </div>
    <script src="/static/main.js" charset="utf-8"></script>
  </body>
</html>
