body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
}

ul {
    display: flex;
    flex-direction: row;
}

ul li {
    list-style: none;
    margin-right: 1.5rem;
    cursor: pointer;
}